In [1]:
from pandas.core.dtypes.missing import isna
from pandas.io.parsers import read_csv
import sklearn
import numpy as np
import pandas as pd
import os

In [14]:
SP500 = pd.read_csv("/home/bartek/Desktop/MSSMW/data/S&P500.csv")
DJIA = pd.read_csv("/home/bartek/Desktop/MSSMW/data/DJIA.csv")
NASDAQ = pd.read_csv("/home/bartek/Desktop/MSSMW/data/NASDAQ.csv")
EURUSD = pd.read_csv("/home/bartek/Desktop/MSSMW/data/EURUSD.csv")
OIL = pd.read_csv("/home/bartek/Desktop/MSSMW/data/crudeoil.csv")
GOLD = pd.read_csv("/home/bartek/Desktop/MSSMW/data/gold.csv").iloc[::-1].reset_index(drop = True)

In [20]:
data_list = [SP500, DJIA, NASDAQ, EURUSD, OIL, GOLD]

for i in data_list:
    i['Date'] = pd.to_datetime(i['Date'])
    i = i.set_index('Date')

           Date    Price
0      12/27/79   515.50
1      12/28/79   517.80
2      12/31/79   533.60
3      01/02/80   575.50
4      01/03/80   625.00
...         ...      ...
10522  06/04/21  1892.00
10523  06/07/21  1898.80
10524  06/08/21  1894.40
10525  06/09/21  1895.50
10526  06/10/21  1896.65

[10527 rows x 2 columns]